leetCode.playground/playground.xcworkspace/contents.xcworkspacedata
leetCode.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
leetCode.playground/playground.xcworkspace/xcuserdata/wangxr.xcuserdatad/UserInterfaceState.xcuserstate
